/* Themify Customize Styling */
body[class*="themify"] #site-logo a img {		width: 60px; 
}
@media screen and (max-width: 1280px) { /* Themify Customize Styling */
body[class*="themify"] #site-logo a img {		width: 60px; 
}
 }@media screen and (max-width: 768px) { /* Themify Customize Styling */
body[class*="themify"] #site-logo a img {		width: 60px; 
}
 }@media screen and (max-width: 680px) { /* Themify Customize Styling */
body[class*="themify"] #site-logo a img {		width: 60px; 
}
 }
/* Themify Custom CSS */

.has-sidebar:not(.error404) #primary { width: 100% }
.sensei #content {
width:100em;
margin-right:50px;
}

